<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

    <script>
      var socket = io("ws://localhost:3000/");

      var messages = document.getElementById('messages');
      var form = document.getElementById('form');
      var input = document.getElementById('input');

      form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
          socket.emit('chat message', input.value);
          input.value = '';
        }
      });

      socket.on('chat message', function(msg) {
        var item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);


        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>

    <h2>Retail Service</h2>
    <a href="/">Add To Cart</a>
    <a href="/removeFromCart">Remove From Cart</a>
    <a href="/totalValue">Total Value</a>
    <a href="/applyDiscount">Apply Discount</a>
    <a href="/processPayment">Process Payment</a>

    <br/>
    <h2>Query Service</h2>
    <a href="/priceLookUp">Price Look Up</a>
    <a href="/findProduct">Find Product</a>
    <a href="/allergyInfo">Allergy Information</a>
    <a href="/contactSupport">Contact Support</a>
    <a href="/customerFeedback">Customer Feedback</a>

    <br/>
    <h2>Assisstance Service</h2>
    <a href="/queueTime">See Queue Times</a>
    <a href="/unlockTrolley">Unlock Trolley</a>
    <a href="/locateCar">Locate Car</a>

  </body>
</html>
