<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/">Add To Cart</a>
    <a href="/removeFromCart">Remove From Cart</a>
    <a href="/totalValue">Total Value</a>
    <a href="/applyDiscount">Apply Discount</a>
    <a href="/processPayment">Process Payment</a>
    <a href="/priceLookUp">Price Look Up</a>
    <a href="/findProduct">Find Product</a>

    <% if(error) { %>
      <%= error %>
    <% } %>

    <form action="/findProduct" method="get">
      <label for="name">Name</label>
      <input type="text" name="name">
      <br/>
      <button type="submit">Find Product</button>
    </form>

    <% if (typeof location === 'string') { %>
    <b>ANS:</b><%= location %>
<% } %>


  </body>
</html>
