<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


<h2>Retail Service</h2>
<ul>
<a href="/addToCart"><li>Add To Cart</li></a>
<a href="/removeFromCart"><li>Remove From Cart</li></a>
<a href="/totalValue"><li>Total Value</li></a>
<a href="/applyDiscount"><li>Apply Discount</li></a>
<a href="/processPayment"><li>Process Payment</li></a>
</ul>

<br/>
<h2>Query Service</h2>
<ul>
<a href="/addToCart"><li>Add To Cart</li></a>
<a href="/removeFromCart"><li>Remove From Cart</li></a>
<a href="/totalValue"><li>Total Value</li></a>
<a href="/applyDiscount"><li>Apply Discount</li></a>
<a href="/processPayment"><li>Process Payment</li></a>
</ul>

<br/>
<h2>Assisstance Service</h2>
<ul>
  <a href="/queueTime"><li>See Queue Times</li></a>
  <a href="/unlockTrolley"><li>Unlock Trolley</li></a>
  <a href="/locateCar"><li>Locate Car</li></a>
</ul>
    <% if(error) { %>
      <%= error %>
    <% } %>

    <form action="/locateCar" method="get">
      <label for="carReg">Car Reg</label>
      <input type="number" name="carReg" placeholder="Please enter car reg">
      <br/>
      <br/>
      <button type="submit">Locate Car</button>
    </form>
    <br/>

    <% if (typeof parkingSpace === 'string') { %>
    <b><%= parkingSpace %>
<% } %></b>
<br/>
<br/>
<br/>
<br/>
<a href="/">Return to home page</a>


  </body>
</html>
