<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if(error) { %>
      <%= error %>
    <% } %>

    <form action="/locateCar" method="get">
      <label for="carReg">Car Reg</label>
      <input type="number" name="carReg" placeholder="Please enter car reg">
      <br/>
      <br/>
      <button type="submit">Locate Car</button>
    </form>
    <br/>

    <% if (typeof parkingSpace === 'string') { %>
    <b><%= parkingSpace %>
<% } %></b>

    <h2>Retail Service</h2>
    <a href="/">Add To Cart</a>
    <a href="/removeFromCart">Remove From Cart</a>
    <a href="/totalValue">Total Value</a>
    <a href="/applyDiscount">Apply Discount</a>
    <a href="/processPayment">Process Payment</a>

    <br/>
    <h2>Query Service</h2>
    <a href="/priceLookUp">Price Look Up</a>
    <a href="/findProduct">Find Product</a>
    <a href="/allergyInfo">Allergy Information</a>
    <a href="/contactSupport">Contact Support</a>
    <a href="/customerFeedback">Customer Feedback</a>

    <br/>
    <h2>Assisstance Service</h2>
    <a href="/queueTime">See Queue Times</a>
    <a href="/unlockTrolley">Unlock Trolley</a>
    <a href="/locateCar">Locate Car</a>


  </body>
</html>
