<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/">Add To Cart</a>
    <a href="/removeFromCart">Remove From Cart</a>
    <a href="/totalValue">Total Value</a>
    <a href="/applyDiscount">Apply Discount</a>
    <a href="/processPayment">Process Payment</a>

    <% if(error) { %>
      <%= error %>
    <% } %>

    <form action="/processPayment" method="get">
      <label for="cardNo">Card Number</label>
      <input type="number" name="cardNo">
      <br/>
      <button type="submit">Process!</button>
    </form>

    <% if(isNaN(paymentConfirmation)) { %>
      <b>ANS:</b><%= paymentConfirmation %>
    <% } %>


  </body>
</html>
