<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    <h2>Retail Service</h2>
    <ul>
    <a href="/addToCart"><li>Add To Cart</li></a>
    <a href="/removeFromCart"><li>Remove From Cart</li></a>
    <a href="/totalValue"><li>Total Value</li></a>
    <a href="/applyDiscount"><li>Apply Discount</li></a>
    <a href="/processPayment"><li>Process Payment</li></a>
    </ul>

        <% if(error) { %>
          <%= error %>
        <% } %>

        <form action="/removeFromCart" method="get">
          <label for="name">Name of Product</label>
          <input type="text" name="name">
          <br/>
          <button type="submit">Remove!</button>
        </form>

        <% if (typeof removeMsg === 'string') { %>
        <b><%= removeMsg %>
    <% } %></b>

    <br/>
    <h2>Query Service</h2>
    <ul>
    <a href="/addToCart"><li>Add To Cart</li></a>
    <a href="/removeFromCart"><li>Remove From Cart</li></a>
    <a href="/totalValue"><li>Total Value</li></a>
    <a href="/applyDiscount"><li>Apply Discount</li></a>
    <a href="/processPayment"><li>Process Payment</li></a>
    </ul>

    <br/>
    <h2>Assisstance Service</h2>
    <ul>
      <a href="/queueTime"><li>See Queue Times</li></a>
      <a href="/unlockTrolley"><li>Unlock Trolley</li></a>
      <a href="/locateCar"><li>Locate Car</li></a>
    </ul>
    <br/>
    <br/>
    <br/>
    <br/>
    <a href="/">Return to home page</a>

  </body>
</html>
